
<div class="row">
    <div class="col-md-2">
      <app-filter></app-filter>
    </div>
  
    <div class="col-md-8">

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="../../assets/slide4.jpg"  height="300" width="300"></ng-template>  
    <ng-template carouselSlide><img src="../../assets/slide1.jpg" height="300" width="300"></ng-template>  
    <ng-template carouselSlide><img src="../../assets/mar3.jpg" height="300" width="300"></ng-template>  
    <ng-template carouselSlide><img src="../../assets/slide1.jpg" height="300" width="300"></ng-template>  

  </owl-carousel-o>
  
  
      <app-product></app-product>
    </div>
  
   <div class="col">
    
<app-cart></app-cart>
    </div>
  </div>
  
