<div class="row">
  <div class="col-75">
    <div class="container">
      <form>

        <div class="row">
          <div class="col-50">
            <h3>Address</h3>
            <label for="name"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="name" name="name">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email">
            <label for="mobileno"><i class="fa fa-mobile" style="font-size:25px"></i> Mobile No</label>
            <input type="number" id="mobileno" name="mobileno">
            <label for="address"><i class="fa fa-address-card-o"></i> Address</label>
            <textarea type="text"style="width:100%" id="address" name="address"></textarea>
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city">

            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state">
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <label for="pin">PinCode</label>
                <input type="number" id="pin" name="pin">
              </div>
            </div>
          </div>
        </div>
        <input type="submit"  routerLink="/payment" value="Make a Payment" class="btn">
      </form>
    </div>
  </div>