<div class="card mb-4 shadow-sm">
  <img class=" card-img-top p-2 zoom" width="225" height="225" [src]="productItem.imageurl" />

  <div class="card-body">
   <h5 class="card-title">{{productItem.name}}</h5>
    <p class="card-text">
      
      <b>{{ productItem.price | currency:'INR' }}</b>
    </p>
    <p class="card-text">{{ productItem.description }}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-dark product-btn" (click)="handleAddToCart()" >Add to Cart</button>
        <button type="button" class="btn btn-sm btn-outline-warning product-btn">View Details</button>
      </div>
    </div>
  </div>
</div>
