<footer class="page-footer font-large blue pt-4">

    
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Head office:</h5>
        <p>Address:
          Eye-Care  Private Limited,<br>
          
          Buildings Alyssa, Begonia &<br>
          
          Clove Embassy Tech Village,<br>
          
          Outer Ring Road,  Bengaluru, 560103,<br>
          
         
          
          Karnataka, India.</p><br>
          <h5>Mail Id-</h5>
          <p>Eye-Care@gmailcom</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Social</h5>

        <ul class="list-unstyled">
          <li>
            <a href="www.facebook.com"> Facebook</a>
          </li>
          <li>
            <a href="wwww.twitter.com">twitter</a>
          </li>
          <li>
            <a href="www.youtube.com">Youtube</a>
          </li>
          
        </ul>

      </div>
      

    </div>

  </div>

</footer>


